.designTitleBox{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.designContentBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.designUiUxBox{
width: 50%;
color: white
}

.designGDBox {
    width: 50%;
    color: white
}

.designContent {
    color: white;
}