.headerBox {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.titleNav {
  font-size: 42px;
  font-weight: 700;
  padding: 8px;
  transition-duration: 500ms;
  color: white;

  -webkit-text-stroke: 1px var(--light_color);
  color: transparent;

  &:hover {
    color: var(--light_color);
  }
}
