

.titleNav {
  font-size: 24px;
  font-weight: 700;
  background-image: linear-gradient(to top, rgb(23, 3, 3), rgb(146, 13, 13), rgb(23, 3, 3));
  box-shadow: rgba(0, 0, 0, 0.75) 10px 10px 26px 0px;
  padding: 8px;
  
  transition-duration: 500ms;

  -webkit-text-stroke: 1px var(--light_color);
  color: transparent;

  &:hover {
    color: var(--light_color);
  }
}