.navBarBox {
    display: flex;
    flex-direction: row;
}

.navBarContacts {
    width: 20%
}

.navBarLinks {
    
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background: transparent;
    width: 60%;
    color:white;
}

.navBarLink{
    width: 33%;
}

.navBarFeedback {
    width: 20%;

}