.headerBox {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-image: linear-gradient(to top, rgb(0, 0, 0),rgb(42, 22, 1), rgb(193, 141, 10));
  box-shadow: rgba(0, 0, 0, 0.75) 10px 10px 26px 0px;
}

.titleNav {
  font-size: 24px;
  font-weight: 700;
  padding: 8px;
  transition-duration: 500ms;

  -webkit-text-stroke: 1px var(--light_color);
  color: transparent;

  &:hover {
    color: var(--light_color);
  }
}

.contactsBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.socialsBox {
  display: flex;
  flex-direction: row;
  
  justify-content: space-between;
}