.page {
  width: 100vw;
  height: 100vh;
  background-image: url(../../images/bcgrnd/grn/wallpaperflare.com_wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
    text-align: center;
    color: white;
    margin-bottom: 16px ;
}

.linksList{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 8px;
}

.consultationLink{
  display: flex;
  width: auto;
  color: white;
}