.page {
  width: 100vw;
  height: 100vh;
  background-image: url(../../images/bcgrnd/grn/wallpaperflare.com_wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
    text-align: center;
    color: white;
    margin-bottom: 16px ;
}

.aside {
    width: 10%;
    height:calc(100% - 180px);
    float: left;  
    padding: 2px;
}