.page {
  width: 100vw;
  height: 100vh;
  background-image: url(../../images/bcgrnd/grn/wallpaperflare.com_wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
    text-align: center;
    color: white;
    margin-bottom: 16px ;
}

.aside {
    width: 5%;
    height:calc(100% - 180px);
    float: left;  
    padding: 2px;
}

.servicesLinksList{
  width: 100%;

}

.consultationLink{
  display: flex;
  width: auto;
  color: white;
 
 }

// .servicesListItem {
//    &:not(:last-child){
//             margin-bottom: 150px;
//         }
// }