.contactsBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contactsText {
 color: white;
 text-align: center;
}

.socialsBox {
  display: flex;
  flex-direction: row;
  
  justify-content: space-between;
}